{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    {% block stylesheets %}
        {% do assets.addCss('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css', 100) %}
        {% do assets.addCss('theme://css/custom.css', 99) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }} blue-grey lighten-5">

{% block header %}
    <nav class="blue-grey darken-4">
        <div class="nav-wrapper container">
        <a href="#" class="brand-logo"><span class="red-text text-lighten-1">T</span>homas <span class="red-text text-lighten-1">G</span>redin</a>

            {% block header_navigation %}
                {% include 'partials/navigation.html.twig' %}
            {% endblock %}

        </div>
    </nav>
{% endblock %}

{% block body %}
    <section id="body">

        <div class="row">

            <div class="col l3 m12">
                <div class="card-panel z-depth-2">

                        <div class="center-align">
                            <img class="responsive-img" src="{{ url('theme://images/profil.jpg') }}">
                            <h6>Computer Science Student specialized in Computer Graphics</h6>
                        </div>

                        <blockquote>
                            In love with Computer Graphics Programming and video games creation, 
                            I love to create things from scratch or by using first class industry Game Engines
                            such as Unity3D.
                        </blockquote>

                </div>

                <div class="card-panel z-depth-2">

                    <h5><span class="red-text text-lighten-1">I</span>nformation</h5>

                    <table>
                        <tbody>
                          <tr>
                            <td><i class="fas fa-home fa-lg red-text text-lighten-1"></i></td>
                            <td>Belfort, France</td>
                          </tr>

                          <tr>
                            <td><i class="fas fa-flag fa-lg red-text text-lighten-1"></i></td>
                            <td>French</td>
                          </tr>

                          <tr>
                            <td><i class="fas fa-phone fa-lg red-text text-lighten-1"></i></td>
                            <td>(+33)669 606 859</td>
                          </tr>

                          <tr>
                            <td><i class="fas fa-envelope fa-lg red-text text-lighten-1"></i></td>
                            <td>thomas.gredin@utbm.fr</td>
                          </tr>
                        </tbody>
                    </table>

                </div>

                <div class="card-panel z-depth-2">

                    <h5><span class="red-text text-lighten-1">F</span>ind me on</h5>

                    <br>

                    <div class="row">

                        <div class="col s4 center-align">
                            <a class="" href="https://github.com/StagramTG">
                                <i class="fab fa-github fa-3x black-text"></i>
                            </a>
                        </div>

                        <div class="col s4 center-align">
                            <a class="" href="https://www.linkedin.com/in/thomas-gredin-345339137/">
                                <i class="fab fa-linkedin fa-3x blue-text text-darken-2"></i>
                            </a>
                        </div>

                        <div class="col s4 center-align">
                            <a class="" href="https://twitter.com/GredinTom">
                                <i class="fab fa-twitter fa-3x"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col l9 m12">
                {% block content %}{% endblock %}
            </div>

        </div>

    </section>
{% endblock %}

{% block footer %}
    <footer class="page-footer blue-grey darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <p class="grey-text text-lighten-4">
                This website is based on <a href="https://getgrav.org">Grav CMS</a> and <a href="https://materializecss.com">Materialize.</a><br>
                Icons are from <a href="https://fontawesome.com">Font awesome</a>
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Social networks</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="https://github.com/StagramTG">Github</a></li>
              <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/thomas-gredin-345339137/">Linked In</a></li>
              <li><a class="grey-text text-lighten-3" href="https://twitter.com/GredinTom">Twitter</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2018 All right reserved
        </div>
      </div>
    </footer>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
