{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="card shadow-sm">

		<div class="card-body">

			<h1 class="card-title"><span class="accentuation">P</span>ortfolio</h1>
			<p>J'expose ici les projets que j'ai réalisé soit professionnellement, soit personnellement.</p>

			<div class="row">

				{% set collection = page.collection() %}
				{% set index = 0 %}

				{% for page in collection %}
				    
					<div class="col-lg-4 col-sm-12">

						<div class="card mt-3">

							<img src="{{ (page.media.images|first).forceResize(854, 480).url() }}" class="card-img-top">
							<div class="card-body text-center">

								<p>{{ page.title }}</p>

								<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#details-{{ index }}">
									Plus de détails
								</button>

							</div>

						</div>

					</div>

					<div class="modal fade" id="details-{{ index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-lg" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">{{ page.title }}</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					      	{{ page.content }}
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
					      </div>
					    </div>
					  </div>
					</div>

					{% set index = index + 1 %}

				{% endfor %}

			</div>

		</div>

    </div>
{% endblock %}